<%= form_for @user do |f| %>
  <% if f.object.errors.any? %>
  <div class="errors" id="errors">
    <% if f.object.errors.any? %>
      <ul>
        <% f.object.errors.full_messages.each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <% end %>
  <div class="input-field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div><br>
  <div class="input-field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div><br>
  <div class="input-field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div><br>
  <div class="input-field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div><br>
  <div>
    <%= submit_tag, nil, class: "btn btn-default btn-xs" %>
  </div>

  <% end %>
