<h1>Verify Password</h1>

<%= form_for @user do |f| %>
  <% if f.object.errors.any? %>
  <div class="errors" id="errors">
    <% if f.object.errors.any? %>
      <ul>
        <% f.object.errors.full_messages.each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <% end %>
  <div class="input-field">
    <%= label_tag :old_password, "Current Password" %>
    <%= text_field_tag :old_password %>
  </div><br>
  <div class="input-field">
    <%= f.label :password, "New Password" %>
    <%= f.password_field :password %>
  </div><br>
  <div class="input-field">
    <%= f.label :password_confirmation, "Confirm New Password" %>
    <%= f.password_field :password_confirmation %>
  </div><br>
  <div>
    <%= f.submit, nil, class: "btn btn-default btn-xs" %>
  </div>

<% end %>
