<!-- This page is not yet implemented -->
<h1>Edit Email for <%= @user.username %></h1>

<%= form_for @user do |f| %>
  <% if f.object.errors.any? %>
    <div class="errors" id="errors">
      <% if f.object.errors.any? %>
        <ul>
          <% f.object.errors.full_messages.each do |e| %>
            <li><%= e %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
  <div class="input-field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div><br>
  <div>
    <%= submit_tag nil, class: "btn btn-default btn-xs" %>
  </div>

<% end %>
