<h1>User: <%= @user.username %></h1>

<% if @user == current_user %>
<!-- <%= link_to "Change Email", edit_user_path %> - -->
<%= link_to "Edit Password", edit_user_path %>
<% end %>

<% if @team_comps.any? %>
  <h3>Team Comps</h3>

  <%= form_tag @user, :method => 'get' do %>
    <%= label_tag :sort_method, "Sort By" %>
    <% selected = (params[:sort_method] ? params[:sort_method] : "Rating: High-Low") %>
    <%= select_tag :sort_method, options_for_select(["Rating: High-Low", "Rating: Low-High", "Name: A-Z", "Name: Z-A", "Updated: Newest first", "Updated: Oldest first"], selected) %>

    <%= submit_tag "Sort", class: "btn btn-default btn-xs" %>
  <% end %>
<p></p>

  <%= render 'comp_table' %>
<% end %>
