<% @comments.each do |comment| %>
  <p>
    <%= link_to "^", like_team_comp_comment_path(@team_comp.id, comment), method: 'put', class: "upvote" %>
    <%= comment.score %>
    <%= link_to "v", dislike_team_comp_comment_path(@team_comp.id, comment), method: 'put', class: "downvote" %>
    <b><%= link_to(comment.author.username, comment.author) %>:</b>
  <%= comment.content %></p>
<% end %>

<div>
<%= paginate @comments %>
</div>
