<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Objective</th>
      <th>Lineup</th>
      <th>Rating</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    <% @team_comps.each do |comp| %>
      <tr>
        <td><%= link_to comp.name, comp %></td>
        <td><%= comp.objective %></td>
        <td>
          <%= link_to(image_tag(comp.hero1.icon_path, size: "35x30"), comp.hero1) %>
          <%= link_to(image_tag(comp.hero2.icon_path, size: "35x30"), comp.hero2) %>
          <%= link_to(image_tag(comp.hero3.icon_path, size: "35x30"), comp.hero3) %>
          <%= link_to(image_tag(comp.hero4.icon_path, size: "35x30"), comp.hero4) %>
          <%= link_to(image_tag(comp.hero5.icon_path, size: "35x30"), comp.hero5) %>
          <%= link_to(image_tag(comp.hero6.icon_path, size: "35x30"), comp.hero6) %>
        </td>
        <td>
          <%= link_to "^", like_team_comp_path(comp), method: 'put', class: "upvote" %>
          <%= comp.rating %>
          <%= link_to "v", dislike_team_comp_path(comp), method: 'put', class: "downvote" %>
        </td>
        <td><%= link_to comp.author.username, comp.author %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
<%= paginate @team_comps %>
</div>
