<%= form_for @team_comp do |f| %>

<div>
  <%= f.text_field :name %>
  <%= f.label :name %>
</div>

<div>
  <%= f.select :objective, objective_options, include_blank: true %>
  <%= f.label :objective %>
</div>

<div><p></p></div>

<div>
  <%= f.select :hero1, hero_options, include_blank: true %>
  <%= f.label :hero1, "Hero 1" %>
</div>

<div>
  <%= f.select :hero2, hero_options, include_blank: true %>
  <%= f.label :hero2, "Hero 2" %>
</div>

<div>
  <%= f.select :hero3, hero_options, include_blank: true %>
  <%= f.label :hero3, "Hero 3" %>
</div>

<div>
  <%= f.select :hero4, hero_options, include_blank: true %>
  <%= f.label :hero4, "Hero 4" %>
</div>

<div>
  <%= f.select :hero5, hero_options, include_blank: true %>
  <%= f.label :hero5, "Hero 5" %>
</div>

<div>
  <%= f.select :hero6, hero_options, include_blank: true %>
  <%= f.label :hero6, "Hero 6" %>
</div>

<div>
  <%= f.label :description %><br>
  <%= f.text_area :description, size: "50x4" %>
</div>

<div>
  <%= f.submit %>
</div>

<% end %>
