<%= form_for @team_comp do |f| %>
<% if f.object.errors.any? %>
<div class="errors" id="errors">
  <% if f.object.errors.any? %>
    <ul>
      <% f.object.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<% end %>


<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :objective %>
  <%= f.select :objective, objective_options, include_blank: true %>
</div>

<div><p></p></div>

<div>
  <%= f.label :hero1_id, "Hero 1" %>
  <%= f.select :hero1_id, hero_options, include_blank: true %>
</div>

<div>
  <%= f.label :hero2_id, "Hero 2" %>
  <%= f.select :hero2_id, hero_options, include_blank: true %>
</div>

<div>
  <%= f.label :hero3_id, "Hero 3" %>
  <%= f.select :hero3_id, hero_options, include_blank: true %>
</div>

<div>
  <%= f.label :hero4_id, "Hero 4" %>
  <%= f.select :hero4_id, hero_options, include_blank: true %>
</div>

<div>
  <%= f.label :hero5_id, "Hero 5" %>
  <%= f.select :hero5_id, hero_options, include_blank: true %>
</div>

<div>
  <%= f.label :hero6_id, "Hero 6" %>
  <%= f.select :hero6_id, hero_options, include_blank: true %>
</div>

<div>
  <%= f.label :strategy %><br>
  <%= f.text_area :strategy, size: "50x4" %>
</div>

<div>
  <%= f.submit, nil, class: "btn btn-default btn-xs" %>
</div>

<% end %>
