<h1>Team Comps</h1>

<%= form_tag team_comps_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>
<p><%= link_to "Advanced Search", search_path %></p>

<% if current_user %>
  <p><%= link_to "New", new_team_comp_path %></p>
<% end %>

<%= render 'comp_table' %>
