<!DOCTYPE html>
<html>
<head>
  <title>OverwatchTeamBuilder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="text-right">
  <% if current_user %>
    <p>Logged in as <%= link_to current_user.username, current_user %> -
    <%= link_to "Logout", logout_path %></p>
  <% else %>
    <p>Not logged in. <%= link_to "Log In", login_path %> -
    <%= link_to "Sign Up", new_user_path %></p>
  <% end %>
  </div>

<h4><%= link_to "Home", root_path %> -
<%= link_to "Heroes", heroes_path %> -
<%= link_to "Back", :back %></h4>

<%= yield %>
</div>
</body>
</html>
